<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Local Authorization Server</title>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>
<h1>Local Authorization Server</h1>
<div class="content">
    <div class="alert error">
        <b>DO NOT USE IN PRODUCTION!</b>
        <br>
        <br>
        Local Authorization Server is built for local development and testing. It is not secure, by design, and
        MUST NOT be used for production use-cases.
    </div>

    <div id="authentication" th:if="${authentication == null}">
        <p>
            When using the Local Authorization Server from another service, you will be asked to log in.
            You may log in with one of the following users:
        </p>
        <ul>
            <li th:each="user: ${users}">Username: <b th:text="${user.getUsername()}"></b>, password: <b
                    th:text="${user.getPassword()}"></b></li>
        </ul>
        <form action="/login" method="GET">
            <button type="submit" class="button" id="login-button">Log in</button>
        </form>
    </div>

    <br>

    <div id="authentication" th:if="${authentication != null}">
        <h2>You are logged in as: <span th:text="${authentication.getName()}"></span></h2>
        <form action="/logout" method="POST">
            <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"/>
            <button type="submit" class="button" id="logout-button">Log out</button>
        </form>
    </div>

    <div id="provider-configuration">
        <h2>OpenID Provider Metadata</h2>
        <p>The OpenID Provider configuration document can be found at <a href="/.well-known/openid-configuration">/.well-known/openid-configuration</a>.
        </p>
        <p>The following clients have been configured:</p>
        <div th:each="client: ${clients}">
            <b th:text="${client.getClientId()}"></b>
            <pre th:text="${client.toYamlString()}"></pre>
        </div>
        <p>Learn more about configuring clients in the Spring Security reference documentation, for
            <a href="https://docs.spring.io/spring-security/reference/servlet/oauth2/login/core.html">Spring Web
                (MVC)</a> and
            <a href="https://docs.spring.io/spring-security/reference/reactive/oauth2/login/core.html">Spring
                Webflux (Reactive)</a>.
        </p>
    </div>

    <div id="help">
        <h2>Help</h2>
        <p>The configuration for your client applications can be found in the terminal when running the jar file. You
            can run the ajr with the <b>--help</b> flag and get help in the console:</p>
        <pre th:text="${helpMessage}"></pre>
    </div>
</div>
</body>
</html>